@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .elemVertical {
    @apply flex items-center;
  }

  .gallery {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }
}

@media screen and (min-width: 1000px) {
  .imageGallery {
    display: flex;
    flex-direction: row;
  }
}
